<div class="container-fluid">
  <section class="footer">
    <div class="row justify-content-around footer-items">
      <div class="col-12 col-sm-4  d-inline">
        <p class="ftext"><span class="text-warning">></span><a target="_blank" href="https://drive.google.com/file/d/17MUKGRb83b5lC889sKoQuMLKnEvLKdZz/view?usp=sharing">Regulamin serwisu</a></p>
      </div>
      <div class="col-12 col-sm-4  d-inline">
        <p class="ftext"><span class="text-warning">></span><a routerLink="/about-us">O nas</a></p>
      </div>
      <div class="col-12 col-sm-4  d-inline">
        <p class="ftext"><i class="fa fa-phone" aria-hidden="true"></i>Infolinia: 777 777 777</p>
      </div>
    </div>
  </section>

  <section class="text-center copyright">
    <div class="container">
      <div class="copy">
        &copy; Copyright 2018 ZESPÓŁ CODEBUSTERS WSZYSTKIE PRAWA ZASTRZEŻONE
      </div>
    </div>
  </section>
</div>

