<div class="container-fluid d-flex flex-column align-items-center">
  <img src="/assets/images/ok.png" alt="ok" class="okej">
</div>

<div class="container-fluid d-flex flex-column align-items-center">
  <h4>Twój przejazd został dodany</h4>
</div>

<div class="container-fluid d-flex flex-column align-items-center">
  <a class="add-user-route-btn btn" [routerLink]="['/user-routes']">Przejdź do moich przejazdów</a>
  <a class="linkk" [routerLink]="['/your-routes']">Chcę dodać kolejny przejazd</a>
</div>



