
<div class="container-fluid d-flex flex-column align-items-center">
  <div class="about-us-header mt-2">
    <h3><img class="title_btn" src="assets/images/auta.png">
    </h3>
  </div>
  <div class="d-flex flex-sm-column flex-column flex-md-row flex-lg-row align-items-stretch">
    <div class="part">
      <div class="txt d-flex align-items-center justify-content-center flex-column">

          <div class="card">
            <div class="card-header">
              Wszystko o nas
            </div>
            <div class="card-body">
              <h5 class="card-title1">Przejazdomat</h5>
              <h5 class="card-title">Aplikacja służy do rezerwacji połączeń oraz obsługi ofert przejazdów samochodem między miastami, przeznaczona na urządzenia stacjonarne i mobilne </h5>
              <h5 class="card-title2">Współtwórcy tej aplikacji:</h5>
              <p class="card-text">Weronika Karolina Radosław Beata Rafał Hanna - zespół Codebusters</p>
              <button type="button" class="btn btn-link" [routerLink]="['/home']">&larr;Wstecz</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
